<p id="notice"><%= notice %></p>

<h1>Listing Trainings</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Category</th>
      <th>Title</th>
      <th>Date attended</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trainings.each do |training| %>
      <tr>
        <td><%= training.code %></td>
        <td><%= training.category %></td>
        <td><%= training.title %></td>
        <td><%= training.date_attended %></td>
        <td><%= link_to 'Show', [@staff, training] %></td>
        <td><%= link_to 'Edit', [:edit, @staff, training] %></td>
        <td><%= link_to 'Destroy', [@staff,training], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Training', new_staff_training_path %>
