<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @training.code %>
</p>

<p>
  <strong>Category:</strong>
  <%= @training.category %>
</p>

<p>
  <strong>Title:</strong>
  <%= @training.title %>
</p>

<p>
  <strong>Date attended:</strong>
  <%= @training.date_attended %>
</p>


<%= link_to 'Edit', [:edit, @staff, @training] %> |
<%= link_to 'Back', _back_url %>  |
<%= link_to 'Add Training', new_staff_training_path(@staff) %>
<%= link_to 'Finish', staff_trainings_path(@staff) %>