<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @set_specilization.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @set_specilization.name %>
</p>

<p>
  <strong>Display:</strong>
  <%= @set_specilization.display %>
</p>

<%= link_to 'Edit', edit_set_specilization_path(@set_specilization) %> |
<%= link_to 'Back', set_specilizations_path %>
