
      <div class="span9">
        <ul>
          <div class="btn-controls">
            <div class="btn-box-row row-fluid">
              <a href="#" class="btn-box big span4"><i class="icon-user"></i><b><%= pluralize(User.count,"User")%></b>
                <p class="text-muted">
                  Registered</p>
              </a>

              <a href="#" class="btn-box big span4"><i class="icon-user"></i><b><%= pluralize(Staff.count, "Staff") %></b>
                <p class="text-muted">
                  Registered</p>
              </a>
              <a href="#" class="btn-box big span4"><i class="icon-random"></i><b><%= pluralize(Skill.count, 'Skill') %></b>
                <p class="text-muted">
                  Skill Distribution</p>
              </a>

              <a href="charts#index" class="btn-box big span4"><i class="icon-bar-chart"></i><b><%= pluralize(Chart.count, 'Chart') %></b>
                <p class="text-muted">
                  Veiw Charts</p>
              </a>

              <a href=#queries#index"#" class="btn-box big span4"><i class="icon-question-sign"></i><b><%= pluralize(Query.count, 'Query') %></b>
                <p class="text-muted">
                  View Queries</p>
              </a>


            </div>
          </div>
        </ul>
      </div>
      <!--/.content-->
