<div class="span6">
  <div class="content">

    <div class="module">
      <div class="module-head">
        <h2>
          <% if @skill.new_record? %>
              <%= "New Skill Rating" %>
          <% else %>
              <%= "Edit  Skill Rating" %>
          <% end %>
        </h2>
      </div>


      <div class="module-body ">


        <%= form_for([@staff, @skill], html: {class: "form-horizontal row-fluid"}) do |f| %>
            <% if @skill.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@skill.errors.count, "error") %> prohibited this skills from being saved:</h2>

                  <ul>
                    <% @skill.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>


            <div class="control-group">

              <div class="controls">
                <label class="control-label">Rate your oral skill   </label>
                <label class="radio inline">
                  <%= f.radio_button(:oral_score,'Poor') %>
                  Poor
                </label>
                <label class="radio inline">
                  <%= f.radio_button(:oral_score,'Average') %>
                  Average
                </label>
                <label class="radio inline">
                  <%= f.radio_button(:oral_score,'Good') %>
                  Good
                </label>
                <label class="radio inline">
                  <%= f.radio_button(:oral_score,'Very good') %>
                  Very Good
                </label>

              </div>
            </div>


            <div class="control-group">

              <div class="controls">
                <label class="control-label">Rate your writing skill</label>
                <label class="radio inline">
                  <%= f.radio_button(:written_score,'Poor') %>
                  Poor
                </label>
                <label class="radio inline">
                  <%= f.radio_button(:written_score,'Average') %>
                  Average
                </label>
                <label class="radio inline">
                  <%= f.radio_button(:written_score,'Good') %>
                  Good
                </label>
                <label class="radio inline">
                  <%= f.radio_button(:written_score,'Very good') %>
                  Very Good
                </label>

              </div>
            </div>


            <div class="control-group">


              <div class="controls">
                <label class="control-label">Rate your analytic skill</label>
                <label class="radio inline">
                  <%= f.radio_button(:analytic_score,'Poor') %>
                  Poor
                </label>
                <label class="radio inline">
                  <%= f.radio_button(:analytic_score,'Average') %>
                  Average
                </label>
                <label class="radio inline">
                  <%= f.radio_button(:analytic_score,'Good') %>
                  Good
                </label>
                <label class="radio inline">
                  <%= f.radio_button(:analytic_score,'Very good') %>
                  Very Good
                </label>

              </div>
            </div>


            <div class="control-group">


              <div class="controls">
                <label class="control-label">Rate your Computing skills</label>
                <label class="radio inline">
                  <%= f.radio_button(:computing_score,'Poor') %>
                  Poor
                </label>
                <label class="radio inline">
                  <%= f.radio_button(:computing_score,'Average') %>
                  Average
                </label>
                <label class="radio inline">
                  <%= f.radio_button(:computing_score,'Good') %>
                  Good
                </label>
                <label class="radio inline">
                  <%= f.radio_button(:computing_score,'Very good') %>
                  Very Good
                </label>

              </div>
            </div>
            <div class="control-group">


              <div class="controls">
                <label class="control-label">Rate your Technical skills</label>
                <label class="radio inline">
                  <%= f.radio_button(:technical_score, 'Poor') %>
                  Poor
                </label>
                <label class="radio inline">
                  <%= f.radio_button(:technical_score, 'Average') %>
                  Average
                </label>
                <label class="radio inline">
                  <%= f.radio_button(:technical_score, 'Good') %>
                  Good
                </label>
                <label class="radio inline">
                  <%= f.radio_button(:technical_score, 'Very good') %>
                  Very Good
                </label>

              </div>
            </div>

            <div class="module-option clearfix">

              <div class="pull-right">

                <% if @skill.new_record? %>

                    <%= button_to "Create Skills", {action: "create"}, class: "btn btn-primary" %>
                <% elsif @skill.persisted? %>
                    <%= button_to "Update Skills", {action: "update"}, class: "btn btn-primary" %>
                <% end %>

              </div>
            </div> <!-- clearfix-->

        <% end %>

      </div>
    </div>
  </div>
</div>