<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @set_gender.code %>
</p>

<p>
  <strong>Display:</strong>
  <%= @set_gender.display %>
</p>

<%= link_to 'Edit', edit_set_gender_path(@set_gender) %> |
<%= link_to 'Back', set_genders_path %>
