<div class="span6">
  <div class="content">

    <div class="module">
      <div class="module-head">
        <h2>
              <%= "Query Info" %>

        </h2>
      </div>


      <div class="module-body ">

        <%= form_for(@query, html: { class:"form-horizontal row-fluid" }) do |f| %>

              <% if @query.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@query.errors.count, "error") %> prohibited this query from being saved:</h2>

                  <ul>
                  <% @query.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>
            <% if @query.new_record? %>
                <% @query.query_code = getHex(2) %>
            <% end %>
            <div class="control-group">
              <label class="control-label" for="basicinput" align="right">
                <b>Display Name:</b>
              </label>
              <div class="controls">
                <%= f.text_field :name, html_options={id:"basicinput", placeholder:"Unique name here..."} %>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="basicinput" align="right">
                <b>Table Name:</b>
              </label>
              <div class="controls">
                <%= f.collection_select :table_list, Table.all, :name, :name, prompt: true, class: "select-field" %>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="basicinput" align="right">
                <b>Feild Names:</b>
              </label>
              <div class="controls">
                <%= f.text_field :fields, html_options={id:"basicinput", placeholder:"Unique name here..."} %>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="basicinput" align="right">
                <b>Where Clause:</b>
              </label>
              <div class="controls">
                <%= f.text_field :where_clause, html_options={id:"basicinput", placeholder:"Unique name here..."} %>
              </div>
            </div>


            <div class="control-group">
              <label class="control-label" for="basicinput" align="right">
                <b>Code:</b>
              </label>
              <div class="controls">

                <%= f.text_field :query_code, html_options={id: "basicinput", placeholder: "Actual query index..."} %>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="basicinput" align="right">
                <b>Query:</b>
              </label>
              <div class="controls">

                <%= f.text_area :query_string, html_options={id: "basicinput", placeholder: "Actual query string..."} %>
              </div>
            </div>

            <div class="control-group">
              <label class="checkbox" align="right">
                Count query:
              </label>
              <div class="checkbox inline">
                <%= f.check_box :count, class: 'checkbox' %>
              </div>

            </div>

            <div class="module-option clearfix">

              <div class="pull-right">

                <% if @query.new_record? %>

                    <%= button_to "Create  Query", { action: "create" },class:"btn btn-primary"  %>
                <% elsif @query.persisted? %>

                    <%= button_to "Update Query", { action: "update" },class:"btn btn-primary"  %>


                <% end %>

              </div>
            </div> <!-- clearfix-->
  </div>
<% end %>
        </div>
  </div>
</div>