
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="span2">
        <div class="sidebar">
          <%= render "admin/main_admin_menu"%>
        </div>
      </div>
      <div class="span1">
      </div>
      <div class="span8">
        <div class="content">
          <div class="module message">
            <div class="module-head">
              <h3>Query Result : <%= @query.name%></h3>
            </div>
            <div class="module-option clearfix">
              <div class="pull-left">
                <div class="btn-group">
                  <button class="btn">
                    Queries
                  </button>
                  <button class="btn dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                  </ul>
                </div>
              </div>
              <div class="pull-right">
                <%= link_to "Create Chart", new_chart_path, class: "btn btn-primary" %>
              </div>
            </div>
            <div class="module-body table">
              <table class="table table-message">
                <tbody>
                <tr class="heading">
                  <% columns=@result.columns.count %>
                  <% @result.columns.each do |c| %>
                      <td class="cell-author hidden-phone hidden-tablet">
                        <%= c.humanize %>
                      </td>
                  <% end %>
                </tr>

                <% @result.rows.each do |q| %>
                    <% c = 0 %>
                    <% if (q[0]) %2 ==0 %>
                        <tr class="even gradeX">
                          <td class="cell-title"><%= q[c] %></td>
                          <td class="cell-title"><%= q[c+1] %></td>
                          <td class="cell-title"><%= q[c+2] %></td>
                          <td class="cell-title"><%= q[c+3] %></td>
                          <td class="cell-title"><%= q[c+4] %></td>
                        </tr>
                    <% else %>
                        <tr class="odd gradeX">
                          <td class="cell-title"><%= q[c] %></td>
                          <td class="cell-title"><%= q[c+1] %></td>
                          <td class="cell-title"><%= q[c+2] %></td>
                          <td class="cell-title"><%= q[c+3] %></td>
                          <td class="cell-title"><%= q[c+4] %></td>
                        </tr>
                    <% end %>

                    </tbody>
                <% end %>
              </table>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
</div>